@charset "utf-8";

body {
    cursor : default;
}
#menu ul li:nth-child(3) > a {
    color : rgb(120,166,217);
    font-weight: bold;
}
/* ------------------- */
#enter-intro {
    width : 1440px;
    height : 600px;
    display : flex;
    justify-content: space-evenly;
    align-items: center;    
    overflow: hidden;
    background: #255198;
    color : white;
}
#enter-intro .intro-txt {
    text-align: center;
    flex : 0.4;
    animation : blank 3s both;
}
@keyframes blank {
    0% { opacity : 0; }
    100% { opacity : 1; }
}
.intro-txt h3 {
    font-size : 1.7rem;
    margin-bottom : 35px;
    font-family: 'Cafe24Ohsquare';
}
.intro-txt p {
    font-size : 0.95rem;
    line-height: 120%;
    margin-top : 15px;
}
.intro-img {
    flex : 0.6;
}
.intro-img img{
    width : 100%;
}

#enter-contact  {
    width : 1440px;
    height : 50px;
    display : flex;
    justify-content: space-around;
    margin : 20px 0 10px;
}
#enter-contact a {
    background: #255198;
    text-align: center;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color : white;
    font-weight: bold;
}
#enter-contact a:nth-child(1) { flex : 0.25;}
#enter-contact a:nth-child(2) { flex : 0.35;}
#enter-contact a:nth-child(3) { flex : 0.25;}

#enter-contact a:nth-child(2) img,
#enter-contact img {
    width : 30px;
    margin-left : 10px;
}
#enter-contact .yellow {
    background: #f7dd2b;
    color : #333;
}
#enter-contact a:not(:last-child):hover,
#enter-contact a:not(:last-child).ent {
    background: #3b1f06;
    color : #f7dd2b;
}
#enter-contact a:last-child:hover,
#enter-contact a:last-child.ent {
    background : #a3c6ea;
    color : #255198;
}

/* ----- */
#enter-animal {
    width : 1440px;
    margin : 100px 0 100px;
}
#enter-animal h2 {
    text-align: center;
    font-size : 2rem;
    letter-spacing: 8px;
    font-family: 'Cafe24Ohsquare';
}
#ea-txt {
    margin-top : 10px;
    height : 180px;
    background: #78a6d9;
    color : white;
    border-radius: 0 80px 0 0;
    display : flex;
    font-size : 1.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
}
#ea-txt p:last-child {
    margin-top : 15px;
}
/* ----- */
#free-enter h2 {
    text-align: center;
    font-size : 2rem;
    letter-spacing: 8px;
    font-family: 'Cafe24Ohsquare';
}
#free-enter p {
    text-align: center;
    margin-top : 3px;
    font-size : 1.2rem;
}
#free-txt {
    margin : 20px auto 0;
    display : flex;
    justify-content: center;
    align-items: center;
}
.fe-txt {
    width : 300px;
    height : 300px;
    background: #d3e6f8;
    border-radius: 50%;
    display : flex;
    align-items: center;
    justify-content: center;
    position : relative;
    margin-left : 50px;
}
.fe-txt:first-of-type {
    margin-left : 0;
}
.fe-txt span {
    position: absolute;
    top : 20px;
    left : 10px;
    background : #78a6d9;
    color : white;
    padding : 20px;
    font-size : 1.3rem;
    font-family: 'Cafe24Ohsquare';
    border-radius: 50%;
}
.fe-txt p,
.fe-txt > b {
    text-align: center;
    line-height: 150%;
    font-size : 1.1rem;
    color : #255198;
    padding-top : 10px;
}
/* ----- */
#enter-list {
    width : 100%;
    margin-bottom : 10px;
}
#enter-list h2 {
    text-align: center;
    margin : 100px 0 15px;
    font-size : 2rem;
    letter-spacing: 8px;
    font-family: 'Cafe24Ohsquare';
}
#enter-list ul {
    display : flex;
    justify-content: space-between;
}
#enter-list ul li {
    width : 350px;
    height : 450px;
    position : relative;
}
#enter-list .txt-bg {
    position : absolute;
    top : 0;
    left : 0;
    width : 350px; height : 450px;
    background: rgba(0,0,0,0.5);
}
#enter-list .list-txt {
    position : absolute;
    left : 20px;
    bottom : 20px;
    color : white;
    font-size : 0.95rem;
    letter-spacing: 1px;
    line-height: 120%;
}
#enter-list .list-txt h4 {
    font-size : 1.3rem;
    margin-bottom : 10px;
    padding-left : 15px;
    padding-top : 3px;
    border-left : 4px solid white;
}
#enter-list .list-txt p {
    margin-top : 5px;
}
#enter-list .list-txt span {
    font-size : 0.85rem;
}